<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581538545232-s2g15e3qbq79mnvrtiqom3nniqkq60hq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581538545232-s2g15e3qbq79mnvrtiqom3nniqkq60hq</string>
	<key>API_KEY</key>
	<string>AIzaSyAABsrGoEjqNXksuThwaXT1iA5AcmMoESA</string>
	<key>GCM_SENDER_ID</key>
	<string>581538545232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.findrecycler</string>
	<key>PROJECT_ID</key>
	<string>find-recycler</string>
	<key>STORAGE_BUCKET</key>
	<string>find-recycler.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581538545232:ios:563aa14852a35f9f0b5b55</string>
	<key>DATABASE_URL</key>
	<string>https://find-recycler.firebaseio.com</string>
</dict>
</plist>